body {
  font-family: "Poppins", sans-serif;
}

.bgImage {
  background-image: url(../../assets//images/shyena.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100%;
  height: auto;
}

.mainGrid {
  background-color: #dcf6ff;
  height: 100vh;
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.leftGrid {
  background-color: white;
  border-radius: 20px;
}
.rightGrid {
  background-color: white;
  border-radius: 20px;
}
.firstBox {
  padding: 10;
  height: 50vh;
  overflow-y: scroll;
}

/* Customize the scrollbar track */
.firstBox::-webkit-scrollbar {
  width: 10px;
}

/* Customize the scrollbar handle */
.firstBox::-webkit-scrollbar-thumb {
  background-color: #e7e7e7; /* Change the color as needed */
  border-radius: 2px;
  cursor: pointer;
}

/* Hover effect for scrollbar thumb */
.firstBox::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3; /* Change the background color on hover */
}

/* Customize the scrollbar track on hover */
.firstBox::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0; /* Change the color as needed */
}

.btn {
  background-color: black;
  color: white;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.btn-blank {
  background-color: white;
  /* color: white; */
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.btn-2 {
  background-color: black;
  color: white;
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.select {
  /* background-color: black; */
  /* color: white; */
  width: 128%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

/* New CSS sj*/

